<:Title>
  Home

<:Body>
	<div class="panel panel-info">
		<div class="panel-heading">Most Recent News</div>
		<div class="panel-body">
            {{if Volt.current_user?.value}}

            <form e-submit="submit_headline" role="form">
                <div class="input-group">
                <input type="text" class="form-control" placeholder="Enter your updates here" value="{{page._headline_body}}">
                <span class="input-group-btn"><button type="button" class="btn btn-default" aria-label="Left Align"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> </button></span>
                </div>
            </form>
            {{else}}
            <div class="alert alert-info" role="alert">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span class="sr-only">Error:</span>
                You need to be logged-in to post a message.
            </div>
            {{end}}
            <div class="clearfix"></div>
            <!--<:fields:select value="{{ page._role }}" options="{{all_users}}"/>-->
            <!--<:fields:checkbox checked="{{ page._active }}"/>-->
            <!--<p>Active?: {{page._active}}</p>-->
            <!--<p>Role: {{page._role}}</p>-->
            <hr>

            <div class="input-group">
                <span class="input-group-addon" id="sizing-addon2">Filter</span>
                <input type="text" class="form-control" placeholder="Type to filter headlines" aria-describedby="sizing-addon2" value="{{page._headline_filter}}">
            </div>

            <br>
            <ul class="list-group">
                {{headlines2.each_with_index do |hl, index|}}
                    <li class="list-group-item" e-click="show_headline_details(index)">
                        {{if hl.can_delete?(:body) or (Volt.current_user || Volt.current_user.value.admin == 'true')}}
                        <span class="pull-right">
                            <button e-click="hl.destroy" class="btn btn-xs btn-danger glyphicon glyphicon-trash"></button>
                        </span>
                        {{end}}
                            <strong class="text-success">@{{hl.user.name}}</strong> <span class="badge"> {{ age(hl) }}</span>
                            {{hl.body}}
                    </li>
                {{end}}
            </ul>
            <br>

                {{ if page._headline_details_visible }}
                <div class="panel panel-warning">
                    {{if current_headline.can_delete?(:body)}}
                    <div class="panel-heading">Edit details</div>
                    <div class="panel-body">
                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1">Body</span>
                            <input type="text" class="form-control" value="{{ current_headline.body}}" aria-describedby="basic-addon1">
                        </div>
                        <button e-click="hide_headline_details" type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </div>
                    {{else}}
                        <div class="panel-heading">Show details</div>
                        <div class="panel-body">
                            <p><label>Body:</label><span>{{current_headline.body}}</span></p>
                            <button e-click="hide_headline_details" type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        </div>
                    {{end}}
                </div>
                {{ end }}
            </div>
        <div class="panel-footer">Currently {{store._users.count}} user(s) and {{store.headlines.count}} headline(s) in the system.</div>
    </div>