<:Title>
  Home

<:Body>
	<div class="panel panel-info">
		<div class="panel-heading">Tell me what's new</div>
		<div class="panel-body">
  		<form e-submit="submit_headline" role="form">
	  		<input class="form-control" placeholder="" value="{{page._headline_body}}" rows="3"></input>

  		</form>
  		<div class="clearfix"></div>
            <hr>
            <ul class="media-list">
                {{store._headlines.reverse.each do |hl|}}
                    <li class="media">
                        {{if hl.can_delete?(:body)}}
                        <span class="pull-right">
                            <button e-click="hl.destroy" class="btn btn-xs btn-danger glyphicon glyphicon-trash"></button>
                        </span>
                        {{end}}
                        <div class="media-body">
                            <strong class="text-success">@{{hl.user.name}}</strong> <span class="label label-default"> {{ age(hl) }}</span>
                            <p>{{hl.body}}</p>
                        </div>
                    </li>
                {{end}}
            </ul>
            <br>
            <span class="text-danger pull-left">{{store._users.count}} user(s), {{store.headlines.count}} headlines</span>
		</div>
	</div>