<:Title>
  {{ view main_path, "title", {controller_group: 'main'} }}

<:Body>
  <div class="container">
    <div class="header">
      <ul class="nav nav-pills pull-right">
        <:nav href="/">Home</:nav>
        <:user_templates:menu />
      </ul>
      <h3 class="text-muted">News</h3>
    </div>

    <:volt:notices />

    {{ view main_path, 'body', {controller_group: 'main'} }}

    <div class="footer">
      <p>Created with <a href="http://www.voltframework.com">Volt Framework</a> based on Datamelon's <a href="http://datamelon.io/blog/2015/twitter-clone-demonstrates-volt-permissions.html">Twitter Clone Tutorial</a></p>
      <div class="panel panel-default">
        <div class="panel-heading panel-info">Most recent changes for this application. Source code available <a href="https://github.com/fry1026/volt_twitter_clone">on Github</a></div>
        <div class="panel-body">
          <div class="list-group">
            {{show_commits.first(3).each do |c|}}
            <a href="{{c[1]}}" class="list-group-item list-group-item-info">{{c[2]}}: {{c[0]}} ({{Time.parse(c[3]).strftime("%A, %b %d %Y")}})</a>
            {{end}}
          </div>
        </div>
      </div>
    </div>
  </div>

<:Nav>
  <li class="{{ if active_tab? }}active{{ end }}">
    <a href="{{ attrs.href }}">{{ yield }}</a>
  </li>

